<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Калькулятори 5-ої практичної</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до калькулятора</h1>
        <div class="button-container">
            <a href="/reliability" class="button">Калькулятор надійності</a>
            <a href="/loss" class="button">Калькулятор втрат</a>
        </div>
    </div>
</body>
</html>
